<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright © 2021 By Geeks Empire.
  ~
  ~ Created by Elias Fazel
  ~ Last modified 10/22/21, 5:45 AM
  ~
  ~ Licensed Under MIT License.
  ~ https://opensource.org/licenses/MIT
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <dist:module
        dist:instant="false"
        dist:title="@string/applicationNameMovies">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:appCategory="productivity"
        android:largeHeap="true"
        android:theme="@style/GeeksEmpire.Material">

        <activity
            android:name=".EntryConfigurationsMovies"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/GeeksEmpire.Material">
        </activity>

        <activity
            android:name=".StorefrontForMoviesConfigurations.UserInterface.StorefrontMovies"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/GeeksEmpire.Material.Storefront">
        </activity>

        <activity
            android:name=".MovieDetailsConfigurations.UserInterface.MoviesDetails"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/GeeksEmpire.Material.MovieDetail">
        </activity>

        <activity
            android:name=".GenreDetailsConfigurations.UserInterface.GenreDetails"
            android:theme="@style/GeeksEmpire.Material.Genre">
        </activity>

    </application>

</manifest>