<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright © 2021 By Geeks Empire.
  ~
  ~ Created by Elias Fazel
  ~ Last modified 2/23/21 5:42 AM
  ~
  ~ Licensed Under MIT License.
  ~ https://opensource.org/licenses/MIT
  -->

<manifest package="net.geeksempire.balloon.optionsmenu.library">

</manifest>