<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright © 2021 By Geeks Empire.
  ~
  ~ Created by Elias Fazel
  ~ Last modified 4/28/21 1:26 AM
  ~
  ~ Licensed Under MIT License.
  ~ https://opensource.org/licenses/MIT
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.geeksempire.premium.storefront">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/applicationName"
        android:largeHeap="true"
        android:name=".PremiumStorefrontApplication"
        android:theme="@style/GeeksEmpire.Material">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:screenOrientation="sensorPortrait"
            android:name="co.geeksempire.premium.storefront.EntryConfigurations"
            android:theme="@style/GeeksEmpire.Material">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:screenOrientation="sensorPortrait"
            android:name="co.geeksempire.premium.storefront.StorefrontConfigurations.UserInterface.Storefront"
            android:theme="@style/GeeksEmpire.Material.Storefront">
        </activity>

    </application>

</manifest>